


body {
    background-color: darkred;
    text-align: center;
}


.header {
    margin: 70px;
    color: white;
}


.outerContainer {
    
    display: flex;
    justify-content: space-evenly;
    
}




.container {    
 
    border: 5px solid white;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column; 
}


.row {
    justify-content: center;
    flex: 1;
    display:flex;
}


.row div {
    flex: 1;
    margin: 2px;    
    background-color: white;
}




